body {
    background-color: #fefefe;
    color: #444;
    font-family: monospace;
    font-size: 1rem;
}

.session-header {
    margin: 35px 20px 5px;
    color: red;
}

.kart-header {
    margin: 20px 30px 5px;
    background-color: #ddd;
}

.lap-line {
    margin: 5px 40px;
}

.fastest {
    color: #80c;
    font-weight: bold;
    font-size: 1.3rem;
}

.btn {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #0cb;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    cursor: pointer;
}

.session-info {
    margin-left: 30px;
    font-size: 1.3rem;
    color: #384;
}

td {
    width: 150px;
    height: 45px;
}

.interactive {
    cursor: pointer;
}

.interactive:hover {
    background-color: #eee;
}

.status {
    padding: 5px;
    width: 40px;
    height: 40px;
}

@media (max-width: 1000px) {
    body {
        font-size: 2rem;
    }

    .kart-header {
        font-size: 3rem;
    }

    .status {
        padding: 10px;
        width: 80px;
        height: 80px;
    }

    .session-info {
        font-size: 2.5rem;
        font-weight: bold;
    }

    td {
        width: 250px;
        height: 90px;
    }

    .fastest {
        font-size: 2.5rem;
    }
}
